.contact {
	width: 95%;
	padding: 1rem;
}

.link {
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin-right: 1rem;
	outline: none;
}
.link:focus {
	border-bottom: 1px solid gray;
}
.link p {
	color: black;
	min-width: 220px;
	display: flex;
}
.flex-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 7rem;
}

.btn a button {
	border: 1px solid blueviolet;
	color: blueviolet;
	background-color: #fff;
	outline: none;
}
.btn a {
	outline: none;
}

@media only screen and (max-width: 600px) {
	.link {
		flex-direction: column;
		align-items: start;
	}
	.btn {
		flex-direction: column;
		align-items: end;
	}
}
