.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:50rem;
  margin-bottom: 20px;
}
.topNav a{
padding: 8px 20px;
background-color: blueviolet;
color: rgb(255, 255, 255);
border-radius: 5px;
text-decoration: none;
cursor: pointer;
outline: none;
}

.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact {
  width: 50rem;
  display: flex;
  padding: 5px 15px;
  background-color: azure;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact {
  color: black;
}
.contact button {
  cursor: pointer;
  outline: none;
  border: 1px solid red;
  border-radius: 5px;
  padding: 4px 10px;
  color: red;
background-color: #fff;
}
.contact img {
  width: 30px;
  height: 30px;
}
